{% layout 'layout.liquid' %}
{% block content %}
    {% if animals.length > 0 %}
      <div class="container-md">
        <h2>All Animals</h2>
        <div class="row">
          {% for animal in animals %}
            <div class="card me-3 mb-3" style="width: 18rem;">
              <h5 class="card-header">{{animal.name}}</h5>
              <div class="card-body">                
                <p class="card-text">The color of this {{animal.name}} is {{animal.color}}</p>
                <p class="card-text">This {{animal.name}} is {{animal.age}} years old</p>
                <div class="color-box mb-2" style="background-color: {{animal.color}}"></div>
                <a href="/animals/{{animal.id}}" class="btn btn-info">View {{animal.name}}</a>
              </div>
            </div>
          {% endfor %}
          </div>
      </div>
    {% else %}
          <div class="container-md">
            <h2>No animals yet... go create some!</h2>
          </div>      
    {% endif %}
{% endblock %}